<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alfa Slab One:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="restaurant-signup">
      <nav class="header">
        <img
          class="forklyft-logo-inverted-1-icon"
          alt=""
          src="{{ url_for('static', filename= 'public/forklyft-logo@2x.png') }}"
        />
      </nav>
      <div class="body">
        <main class="bodyblock">
          <form class="details" method="POST">
            <div class="firstname">
              <div class="ob-formsfirst-name">
                <label for="name" class="first-name">Restaurant Name*</label>
                <input class="frame" type="text" id="name" name="restaurant_name"/>
              </div>
            </div>
            <div class="firstname">
              <div class="ob-formsfirst-name">
                <label for="username" class="first-name">Restaurant username*</label>
                <input class="frame1" type="text" id="username" name="username"/>
              </div>
            </div>
            <div class="firstname">
              <div class="ob-formsfirst-name">
                <label for="location" class="first-name">Restaurant location*</label>
                <input class="frame1" type="text" id="location" name="location"/>
              </div>
            </div>
            <div class="firstname">
              <div class="ob-formsfirst-name">
                <label for="password" class="first-name">Password*</label>
                <input class="frame1" type="password" id="password" name="password"/>
              </div>
            </div>
            <div class="firstname">
              <button class="ob-formsjoin-now" autofocus id="oBFormsJoinNow">
                <h4 class="name">Join now</h4>
              </button>
            </div>
          </form>
          <div class="seperator">
            <img class="seperator-child" alt="" src="{{ url_for('static', filename= 'public/line-5.svg') }}" />
            <h4 class="or">or</h4>
            <img class="seperator-item" alt="" src="{{ url_for('static', filename= 'public/line-6.svg') }}" />
          </div>
          <div class="loginmessage">
            <h4 class="already-on-forklyft">Already on ForkLyft?</h4>
            <button class="ob-formslogin" autofocus id="oBFormsLogin">
              <h4 class="name">Login</h4>
            </button>
          </div>
        </main>
      </div>
    </div>

    <script>
      var oBFormsJoinNow = document.getElementById("oBFormsJoinNow");
      if (oBFormsJoinNow) {
        oBFormsJoinNow.addEventListener("click", function (e) {
          window.location.href = "./restaurant-home.html";
        });
      }
      
      var oBFormsLogin = document.getElementById("oBFormsLogin");
      if (oBFormsLogin) {
        oBFormsLogin.addEventListener("click", function (e) {
          window.location.href = "./login";
        });
      }
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
