<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/addresses.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/my-profile.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alfa Slab One:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-image: url(../static/public/main/intro-bg.jpg);">
    <div class="addresses">
      <nav class="header6">
        <img
          class="headerlogo-icon1"
          alt=""
          src="{{ url_for('static', filename= 'public/forklyft-logo@2x.png') }}"
        />
        <div class="headerbuttons3">
          <a class="mycartbutton3" id="myCartButton" href="./cart"
            ><h4 class="my-cart4">My cart</h4></a
          ><a
            class="mycartbutton3"
            href="./profile"
            id="myProfileButton"
            ><h4 class="my-profile5">My Profile</h4></a
          ><a
            class="mycartbutton3"
            href="./contact_us"
            id="contactUsButton"
            ><h4 class="my-profile5">Contact Us</h4></a
          >
          <a class="mycartbutton3" href="/user">
          <button class="homebutton4" id="homeButton">
            <img
              class="home-favorite-icon"
              alt=""
              src="{{ url_for('static', filename= 'public/home-favorite.svg') }}"
            />
          </button></a>
        </div>
      </nav>
      <main style="width:100%;text-align: center;">
        <h2 style="text-align: center; margin: 30px 40px;"><b>Select an address to proceed!!</b></h2>
        <form class="profileframe" method="POST">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked value={{user[0][1]}}>
            <label class="form-check-label" for="flexRadioDefault1">
              {{user[0][1]}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value={{user[0][2]}}>
            <label class="form-check-label" for="flexRadioDefault2">
              {{user[0][2]}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value={{user[0][3]}}>
            <label class="form-check-label" for="flexRadioDefault3">
              {{user[0][3]}}
            </label>
          </div>
          <div class="editbuttonframe">
            <button class="btn btn-primary btn-lg btn-block" style="width: 50%;">Pay</button>
          </div>
        </form>
        <div class="editbuttonframe">
          <button type="button" class="btn btn-secondary btn-lg btn-block" style="width: 50%;"><a href="./addresses" style="color: white;">Change address</a></button>
          </div>
      </main>
    </div>
  </body>
</html>
