<!DOCTYPE html>
<html>
  <head>
    <style>
      .pratham{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      .pratham2{
        margin: 15px 15px;
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/user-restaurant-menu.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alfa Slab One:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="user-restaurant-menu">
      <nav class="header2">
        <div class="headerlogo2">
          <img
            class="forklyft-logo-icon2"
            alt=""
            src="{{ url_for('static', filename= 'public/forklyft-logo@2x.png') }}"
          />
        </div>
        <div class="headerbuttons2">
          <a class="mycartbutton2" href="./cart" id="myCartButton"
            ><h5 class="my-cart3">My cart</h5></a
          ><a
            class="mycartbutton2"
            href="./profile"
            id="myProfileButton"
            ><h5 class="my-profile4">My Profile</h5></a
          ><a
            class="mycartbutton2"
            href="./contact_us"
            id="contactUsButton"
            ><h5 class="my-profile4">Contact Us</h5></a
          >
            <a class="mycartbutton2" href="/user"><button class="home-favorite2">
              <img class="subtract-icon2" alt="" src="{{ url_for('static', filename= 'public/subtract.svg') }}" />
            </button></a>
        </div>
      </nav>
      <main style="width: 100%;">
        <div>
          <div><h1 style="margin-bottom: 10px; margin-top: 10px; text-align: center;"><b>{{rest[1]}}</b></h1></div>
          <div><p style="font-size: 30px; text-align: center;">location: {{rest[2]}}</p></div>
          <div><p style="font-size: 30px; text-align: center;">rating: {{((rest[3]*10)//rest[4])/10}}</p></div>
        </div>
        <hr>
        {%if menu_s|length!=0:%}
          <div style="background:linear-gradient(#E9F8F9, #C0EEF2) ;">
            <h2 style="text-align: center;">Starters</h2>
            <div class="pratham">
              {%for row in menu_s%}
              <div class="card text-center pratham2 border-primary" style="width: 25rem; height: 30rem;">
                <img class="card-img-top" src={{row[1]}} alt="Card image cap" style="height: 50%;">
                <div class="card-body">
                  <h5 class="card-title">{{row[4]}}</h5>
                  <p class="card-text">{{row[6]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Price: {{row[5]}}$</li>
                </ul>
                <div class="card-footer">
                  <a href='{{url_for("forklyft_bp.add_to_cart",item_id=row[0],restaurant_id=row[2])}}' class="card-link"><button type="button" class="btn btn-outline-success">Add item to cart</button></a>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <hr>
        {%endif%}
        {%if menu_m|length!=0:%}
          <div style="background:linear-gradient(#E9F8F9, #C0EEF2) ;">
            <h2 style="text-align: center;">Mains</h2>
            <div class="pratham">
              {%for row in menu_m%}
              <div class="card text-center pratham2 border-primary" style="width: 25rem; height: 30rem;">
                <img class="card-img-top" src={{row[1]}} alt="Card image cap" style="height: 50%;">
                <div class="card-body">
                  <h5 class="card-title">{{row[4]}}</h5>
                  <p class="card-text">{{row[6]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Price: {{row[5]}}$</li>
                </ul>
                <div class="card-footer">
                  <a href='{{url_for("forklyft_bp.add_to_cart",item_id=row[0],restaurant_id=row[2])}}' class="card-link"><button type="button" class="btn btn-outline-success">Add item to cart</button></a>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <hr>
        {%endif%}
        {%if menu_d|length!=0:%}
          <div  style="background:linear-gradient(#E9F8F9, #C0EEF2) ;">
            <h2 style="text-align: center;">Desserts</h2>
            <div class="pratham">
              {%for row in menu_d%}
              <div class="card text-center pratham2 border-primary" style="width: 25rem; height: 30rem;">
                <img class="card-img-top" src={{row[1]}} alt="Card image cap" style="height: 50%;">
                <div class="card-body">
                  <h5 class="card-title">{{row[4]}}</h5>
                  <p class="card-text">{{row[6]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Price: {{row[5]}}$</li>
                </ul>
                <div class="card-footer">
                  <a href='{{url_for("forklyft_bp.add_to_cart",item_id=row[0],restaurant_id=row[2])}}' class="card-link"><button type="button" class="btn btn-outline-success">Add item to cart</button></a>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <hr>
        {%endif%}
        {%if menu_dr|length!=0:%}
          <div  style="background:linear-gradient(#E9F8F9, #C0EEF2) ;">
            <h2 style="text-align: center;">Drinks</h2>
            <div class="pratham">
              {%for row in menu_dr%}
              <div class="card text-center pratham2 border-primary" style="width: 25rem; height: 30rem;">
                <img class="card-img-top" src={{row[1]}} alt="Card image cap" style="height: 50%;">
                <div class="card-body">
                  <h5 class="card-title">{{row[4]}}</h5>
                  <p class="card-text">{{row[6]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Price: {{row[5]}}$</li>
                </ul>
                <div class="card-footer">
                  <a href='{{url_for("forklyft_bp.add_to_cart",item_id=row[0],restaurant_id=row[2])}}' class="card-link"><button type="button" class="btn btn-outline-success">Add item to cart</button></a>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <hr>
        {%endif%}
      </main>
    </div>

    <script>
      var myCartButton = document.getElementById("myCartButton");
      if (myCartButton) {
        myCartButton.addEventListener("click", function (e) {
          window.location.href = "./my-cart.html";
        });
      }
      
      var myProfileButton = document.getElementById("myProfileButton");
      if (myProfileButton) {
        myProfileButton.addEventListener("click", function (e) {
          window.location.href = "./my-profile.html";
        });
      }
      
      var contactUsButton = document.getElementById("contactUsButton");
      if (contactUsButton) {
        contactUsButton.addEventListener("click", function (e) {
          window.location.href = "./contact-us.html";
        });
      }
      
      var homeButton = document.getElementById("homeButton");
      if (homeButton) {
        homeButton.addEventListener("click", function (e) {
          window.location.href = "http://localhost:5000/user";
        });
      }
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
