<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/restaurant-home.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alfa Slab One:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="restaurant-home">
      <nav class="header5">
        <div class="headerlogo3">
          <img
            class="forklyft-logo-icon3"
            alt=""
            src="../static/public/forklyft-logo@2x.png"
          />
        </div>
        <a
          class="logoutbutton1"
          href="./restaurant-login.html"
          id="logoutButton"
          ><h4 class="logout1">Logout</h4></a
        >
      </nav>
      <main class="body6">
        <div class="resnameframe">
          <h3 class="order-history">{{rest[0][1]}}</h3>
        </div>
        <div class="orderhis">
          <div class="orderhistext">
            <h3 class="order-history">
              <p class="order-history1">Order History</p>
            </h3>
          </div>
          <div class="hisbody">
            {%if order:%}
              <div class="item-1-price-container1">
                <p class="order-history1">Item ID: {{order[-1][4]}}</p>
                <p class="order-history1">Quantity: {{order[-1][5]}}</p>
              </div>
            {%endif%}
          </div>
          <div class="clicktext">
            <a class="click-here-to" href="/restaurant/{{rest[0][0]}}/order_his"
              >click here to view complete order history</a
            >
          </div>
        </div>
        <div class="ourmenu">
          <div class="orderhistext">
            <h3 class="order-history">Our Menu</h3>
          </div>
          {%if menu|length>0:%}
            <div class="item12">
              <img class="image-5-icon3" alt="" src="{{menu[0][1]}}" />
              <h4 class="item-1-price-container1">
                <p class="order-history1">{{menu[0][4]}}</p>
                <p class="order-history1">Type: {{menu[0][3]}}</p>
                <p class="order-history1">Price: {{menu[0][5]}}$</p>
              </h4>
            </div>
          {%endif%}
          {%if menu|length>1:%}
            <div class="item12">
              <img class="image-5-icon3" alt="" src="{{menu[1][1]}}" />
              <div class="item-1-price-container1">
                <p class="order-history1">{{menu[1][4]}}</p>
                <p class="order-history1">Type: {{menu[1][3]}}</p>
                <p class="order-history1">Price: {{menu[1][5]}}$</p>
              </div>
            </div>
          {%endif%}
          <!-- <div class="item22">
            <img class="image-5-icon3" alt="" src="../static/public/image-51@2x.png" />
            <h4 class="item-1-price-container1">
              <p class="order-history1">Item 2 name</p>
              <p class="order-history1">&nbsp;</p>
              <p class="order-history1">Price: 34$</p>
            </h4>
          </div> -->
          <div class="clicktext1">
            <a
              class="click-here-to1"
              href="/restaurant/{{rest[0][0]}}/menu"
              id="clickHereTo1"
              >click here to view the entire menu</a
            >
          </div>
          <img class="line-icon1" alt="" src="../static/public/line@2x.png" />
        </div>
      </main>
    </div>

    <script>
      var logoutButton = document.getElementById("logoutButton");
      if (logoutButton) {
        logoutButton.addEventListener("click", function (e) {
          window.location.href = "./restaurant-login.html";
        });
      }
      
      var clickHereTo1 = document.getElementById("clickHereTo1");
      if (clickHereTo1) {
        clickHereTo1.addEventListener("click", function (e) {
          window.location.href = "./restaurant-menu.html";
        });
      }
      </script>
  </body>
</html>
