<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/user-home.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alfa Slab One:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
    <div class="user-home">
      <nav class="header10">
        <img
          class="headerlogo-icon2"
          alt=""
          src="{{ url_for('static', filename= 'public/forklyft-logo@2x.png') }}"
        />
        <div class="pre-search">
          <form class="form-inline">
            <input class="form-control mr-sm-2 form-lg" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-lg btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        <div class="headerbuttons6">
          <a class="mycartbutton6" href="./user/cart" id="myCartButton"
            ><div class="my-cart7">My cart</div></a
          >
          <!-- <a class="mycartbutton6"
            href="./user/profile"
            id="myProfileButton">
            <div class="my-profile8">My Profile</div></a> -->
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./user/profile">My Profile</a>
                <a class="dropdown-item" href="{{url_for('logout')}}">Logout!!</a>
              </div>
            </div>
          <a
            class="mycartbutton6"
            href="./user/contact_us"
            id="contactUsButton"
            ><div class="my-profile8">Contact Us</div></a
          >
          <button class="homebutton7" id="home_button">
            <img
              class="home-favorite-icon1"
              alt=""
              src="{{ url_for('static', filename= 'public/home-favorite.svg') }}"
            />
          </button>
        </div>
      </nav>
      <main class="body10">
        <div class="catchphrase">
          <h3 class="you-wont-be">
            You won’t be able to resist lifting your forks ;
          </h3>
        </div>
        <div class="text1"><h4 class="hot-new-picks">Hot New Picks</h4></div>
        <div class="boxes1">
          <div class="frame-div">
            {%for i in range(4)%}
            <div>
              <div class="food-rectmain-wrapper">
                <img  class="food-rectmain" src="{{menu[i][1]}}">
              </div>
              <div style="text-align: center;">
                <h4>{{menu[i][4]}}</h4>
                <a href="/user/{{menu[i][2]}}"><h4>{{dict[menu[i][0]][0]}}</h4></a>
              </div>
            </div>
            {%endfor%}
          </div>
          <div class="frame-div">
            {%for i in range(4,8)%}
            <div>
              <div class="food-rectmain-wrapper">
                <img  class="food-rectmain" src="{{menu[i][1]}}">
              </div>
              <div style="text-align: center;">
                <h4>{{menu[i][4]}}</h4>
                <a href="/user/{{menu[i][2]}}"><h4>{{dict[menu[i][0]][0]}}</h4></a> 
              </div>
            </div>
            {%endfor%}
          </div>
          <div class="text1">
            <h4 class="hot-new-picks">Most Popular Restaurants</h4>
          </div>
          <div class="frame-div">
            {%for i in range(4,8)%}
            <div >
              <div class="food-rectmain-wrapper">
                <img  class="food-rectmain" src="{{image[i][0]}}">
              </div>
              <div style="text-align: center;">
                <a href="/user/{{restaurant[i][1]}}"><h4>{{restaurant[i][2]}}</h4></a>
                <!-- <h4>{{restaurant[i][3]}}</h4> -->
              </div>
            </div>
            {%endfor%}
          </div>
          <div class="frame-div">
            {%for i in range(4)%}
            <div >
              <div class="food-rectmain-wrapper">
                <img  class="food-rectmain" src="{{image[i][0]}}">
              </div>
              <div style="text-align: center;">
                <a href="/user/{{restaurant[i][1]}}"><h4>{{restaurant[i][2]}}</h4></a>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </main>
    </div>

    <!-- <script>
      var myCartButton = document.getElementById("myCartButton");
      if (myCartButton) {
        myCartButton.addEventListener("click", function (e) {
          window.location.href = "./my-cart.html";
        });
      }

      var homeButton = document.getElementById("home_button");
      if (homeButton) {
        homeButton.addEventListener("click", function (e) {
          window.location.href = "./user_home";
        });
      }

      var myProfileButton = document.getElementById("myProfileButton");
      if (myProfileButton) {
        myProfileButton.addEventListener("click", function (e) {
          window.location.href = "./{{user_id}}/profile";
        });
      }
      
      var contactUsButton = document.getElementById("contactUsButton");
      if (contactUsButton) {
        contactUsButton.addEventListener("click", function (e) {
          window.location.href = "./contact_us";
        });
      }
      </script> -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
